/*
Theme Name: helant.fr
Description: webdesign pour wordpress
Author: Intégration Erwan DUVAL (www.erwanduval.fr)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
font-size:100%;
font:inherit;
padding:0;
border:0;
margin:0;
vertical-align:baseline;
}
body{
line-height:1;
}
ol,ul{
list-style:none;
}
blockquote,q{
quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after{
content:'';
content:none;
}
table{
border-collapse:collapse;
border-spacing:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
display:block
}
.clear{
clear:both
}
/*images*/
img{
border: none;
max-width: 100%;
height: auto;
}
.sticky{}
.bypostauthor{}
.wp-caption{}
.wp-caption-text{}
.gallery-caption{}
.alignright,
img.alignright{
display: inline;
float: right;
margin: 0 0 15px 18px;
}
.alignleft,
img.alignleft{
display: inline;
float: left;
margin: 0 18px 15px 0;
}
.aligncenter,
img.aligncenter{
clear: both;
display: block;
margin: 0 auto 15px;
}
a img{
border: none;
}
/*liens*/
a{
color: #e41b23;
}
a:visited {
color: #e41b23;
}
a:active,
a:hover {
color: #000000;
}

/*******************/
/******POLICES******/
/*******************/
body{
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 12px;
color: #797979;
}
h1, h2, h3, h4, h5, h6{
display: block;
}
strong{
font-weight: bold;
}
em{
font-style: italic;
}
#page_content{
line-height: 22px;
font-size: 16px;
color: #5e5e5e;
}
#page_content h2{
line-height: 22px;
margin-bottom: 20px;
font-size: 20px;
color: #313366;
font-weight: 700;
}
#page_content p{
margin-bottom: 18px;
}
#page_content ul{
list-style-type: disc;
margin: 0 0 18px 15px;
}


/*********************/
/******STRUCTURE******/
/*********************/
#main{
display: block;
width: 1000px;
margin: 0 auto;
overflow: hidden;
}
#header{
display: block;
height: 106px;
margin: 0;
}
#logo{
    display: flex;
    float: left;
    width: 129px;
    height: 106px;
    margin: 0!important;
    flex-direction: column;
    justify-content: center;
}
#navtop{
display: block;
float: left;
width: 871px;
padding: 40px 0 0;
text-align: center;
font-size: 0;
}
#content{
display: block;
overflow: hidden;
position: relative;
}
#footer{
clear: both;
display: block;
padding: 10px 0;
margin: 0 10px;
border-top: 1px solid #a6a7bd;
overflow: hidden;
}
#footer_left{
    display: block;
    float: left;
    width: 580px;
    height: 43px;
    line-height: 18px;
    padding: 16px 0 0 180px;
    background: url(helant_img/logo-helios.jpg) no-repeat left center;
    background-size: 145px;
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #4e4e4e;
    position: relative;
}

#helios {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 155px;
    height: 59px;
}

#footer_right{
display: block;
float: right;
padding: 16px 0 0;
}

/******************/
/******LAYOUT******/
/******************/
body{
background: #efefef;
}
#main{
background: #ffffff;
}

/*footer right*/
#footer_right a{
display: block;
float: left;
margin-right: 11px;
opacity: 1;
transition: opacity 0.5s;
}
#footer_right a:last-child{
margin-right: 0;
}
#footer_right a:hover{
opacity: 0.7;
transition: opacity 0.5s;
}
#footer_right a#footer_right_agency_link{
height: 23px;
line-height: 23px;
padding: 5px 11px;
background: #efefef;
color: #e41b23;
text-decoration: none;
}
#footer_right a#footer_right_agency_link span{
display: block;
padding: 0 0 0 35px;
background: url(helant_img/agency_bg_s.jpg) no-repeat left center;
}
#footer_right a.footer_right_social_link{
width: 33px;
height: 33px;
background: #efefef;
text-indent: -99999px;
}
#footer_right a#footer_right_fb_link{
background: url(helant_img/facebook.jpg) no-repeat center center;
}
#footer_right a#footer_right_linkedin_link{
background: url(helant_img/linkedin.jpg) no-repeat center center;
}
#footer_right a#footer_right_viadeo_link{
background: url(helant_img/viadeo.jpg) no-repeat center center;
}


/*****************/
/*******NAV*******/
/*****************/
/*top*/
#navtop ul{
list-style-type: none;
padding: 0;
margin: 0;
}
#navtop ul li{
display: inline-block;
margin: 0 7px;
font-size: 14px;
position:relative;
cursor: pointer;
}
#navtop ul li a{
display: block;
padding: 8px 6px;
font-size: 14px;
color: #313366;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;
transition: color 0.4s;
}
#navtop ul#menu-header > li:last-child > a{
background: #ededed;
color: #e41b23;
}
#navtop ul ul{
display: none;
width: 100%;
background: #ffffff;
position: absolute;
left: 0;
top: 30px;
z-index: 9999;
}
#navtop ul li.this_hover ul{
display: block;
}
#navtop ul ul li{
display: block;
width: 100%;
margin: 0;
text-align: left;
}
#navtop ul ul li a{
padding: 6px 12px;
font-size: 14px;
color: #313366;
text-transform: none;
font-weight: 500;
}
#navtop ul li a:hover{
color: #e41b23;
transition: color 0.4s;
}
#navtop ul li.current-page-ancestor > a,
#navtop ul li.current_page_item > a,
#navtop ul li.current-menu-ancestor > a,
#navtop ul li.current-menu-item > a,
#navtop ul li.current-menu-parent > a{
color: #e41b23;
}
/*bottom*/
#navbottom{
clear: both;
display: block;
}
#navbottom ul{
list-style-type: none;
padding: 0;
margin: 0;
}
#navbottom ul li{
display: block;
float: left;
margin: 0 24px 0 0;
}
#navbottom ul li a{
display: block;
color: #4e4e4e;
text-decoration: underline;
}
#navbottom ul li a:hover{
text-decoration: none;
}
/*metiers*/
#navpage{
clear: both;
display: block;
margin: 60px 0 30px;
overflow: hidden;
}
.navpage_with_padding{
padding-left: 240px;
}
#navpage #nav_title{
display: block;
width: 100%;
line-height: 16px;
margin: 0 0 24px;
font-size: 14px;
color: #4e4e4e;
text-transform: uppercase;
}
#navpage ul{
list-style-type: none;
padding: 0;
margin: 0;
}
#navpage ul li{
display: block;
float: left;
margin: 0 20px 0 0;
}
#navpage ul li a{
display: block;
height: 18px;
padding: 13px 0 13px 90px;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
opacity: 1;
transition: opacity 0.5s;
}
#navpage ul li.distribution a{
background: url(helant_img/item_distribution.jpg) no-repeat left center;
color: #8cb921;
}
#navpage ul li.integration a{
background: url(helant_img/item_integration.jpg) no-repeat left center;
color: #ed7517;
}
#navpage ul li.maintenance a{
background: url(helant_img/item_maintenance.jpg) no-repeat left center;
color: #459dcd;
}
#navpage ul li a:hover{
opacity: 0.5;
transition: opacity 0.5s;
}
#navpage ul li.current_page_item a,
#navpage ul li.current-menu-item a{
display: none;
}

/******************/
/*******HOME*******/
/******************/
/*webline*/
#webline_strap{
clear: both;
display: block;
height: 429px;
background: url(helant_img/home-inoteam.jpg) no-repeat right center;
position: relative;
}
/*actus*/
#webline_strap_news_sliderarea{
display: block;
width: 652px;
background: url(helant_img/bg_trans.png) repeat left top;
position: absolute;
right: 0;
bottom: 0;
}
#webline_strap_news_sliderarea_block{
display: block;
width: 532px;
padding: 15px 60px;
}
#webline_strap_news_sliderarea_block_content,
#webline_strap_news_sliderarea_block_content li{
display: block;
width: 532px;
line-height: 20px;
font-size: 14px;
color: #3c3c3c;
}
#webline_strap_news_sliderarea_block_content .news_title{
display: block;
font-size: 14px;
color: #313262;
font-weight: 700;
}
.page-template-page-news-php #webline_strap_news_sliderarea_block_content .news_title{
font-size: 16px;
}
#webline_strap_news_sliderarea_block_content a.news_content_link{
padding-right: 11px;
margin: 0 9px 0 11px;
border-right: 2px solid #8b8c8e;
}
.page-template-page-news-php #webline_strap_news_sliderarea_block_content a.news_content_link{
margin: 0 0 0 11px;
border-right: none;
}
#webline_strap_news_sliderarea_block a.prevBtn,
#webline_strap_news_sliderarea_block a.nextBtn{
display: block;
width: 13px;
height: 16px;
position: absolute;
bottom: 30px;
text-indent: -9999px;
}
#webline_strap_news_sliderarea_block a.prevBtn{
left: 32px;
background: url(helant_img/prev.png) repeat center center;
}
#webline_strap_news_sliderarea_block a.nextBtn{
right: 32px;
background: url(helant_img/next.png) repeat center center;
}
/*metiers*/
#home_metiers_strap{
clear: both;
display: block;
width: 1000px;
height: 112px;
position: relative;
}
#home_metiers_strap a{
display:block;
height: 112px;
line-height: 18px;
position: absolute;
top: 0;
font-size: 14px;
color: #ffffff;
text-decoration: none;
}
#home_metiers_strap a span{
display: block;
height: 98px;
opacity: 0;
transition: opacity 0.4s;
}
#home_metiers_strap a span strong{
display: block;
float: right;
height: 15px;
line-height: 15px;
padding: 0 24px 0 0;
background: url(helant_img/cross.png) no-repeat right center;
font-size: 12px;
text-transform: uppercase;
}
#home_metiers_strap a:hover > span{
display: block;
opacity: 1;
transition: opacity 0.4s;
}
a#home_metiers_strap_green{
width: 348px;
background: url(helant_img/prescription_bt.png) no-repeat left center;
left: 0;
z-index: 9;
}
a#home_metiers_strap_green span{
padding: 14px 40px 0 20px;
}
a#home_metiers_strap_green:hover{
background: url(helant_img/prescription_bt_hover.png) no-repeat left center;
}
a#home_metiers_strap_orange{
width: 360px;
background: url(helant_img/integration_bt.png) no-repeat left center;
left: 320px;
z-index: 5;
}
a#home_metiers_strap_orange span{
padding: 14px 40px 0;
}
a#home_metiers_strap_orange:hover{
background: url(helant_img/integration_bt_hover.png) no-repeat left center;
}
a#home_metiers_strap_blue{
width: 348px;
background: url(helant_img/distribution_bt.png) no-repeat left center;
right: 0;
z-index: 9;
}
a#home_metiers_strap_blue span{
padding: 14px 20px 0 50px;
}
a#home_metiers_strap_blue:hover{
background: url(helant_img/distribution_bt_hover.png) no-repeat left center;
}
/*content home*/
#widgetarea_home_strap{
clear: both;
display: block;
background: url(helant_img/decalco_1.jpg) no-repeat 553px top;
margin: 0 10px;
overflow: hidden;
border-bottom: 1px solid #a6a7bd;
}
#widgetarea_home_strap_title{
display: block;
line-height: 34px;
margin: 40px 0 30px 35px;
font-size: 31px;
color: #313262;
text-transform: uppercase;
}
#widgetarea_home_strap_title span{
color: #e41b23;
}
/*call*/
#home_call_strap{
clear: both;
display: block;
line-height: 24px;
padding: 22px 0;
margin: 0 10px;
font-size: 18px;
color: #313262;
text-transform: uppercase;
font-weight: 500;
text-align: center;
border-bottom: 1px solid #a6a7bd;
}
#home_call_strap span{
color: #e41b23;
}
/*titres ref + agence*/
.home_title_style{
display: block;
margin-bottom: 22px;
color: #313262;
text-transform: uppercase;
}
.home_title_style span{
color: #e41b23;
}
.home .home_title_style{
line-height: 25px;
font-size: 21px;
}
/*reference*/
.home #references_block{
display: block;
float: left;
width: 595px;
padding: 25px 0 0 45px;
overflow: hidden;
}
.references_block_single{
display: block;
float: left;
width: auto;
height: 77px;
margin: 0 40px 50px 0;
}
.references_block_single a{
display: block;
opacity: 1;
transition: opacity 0.5s;
}
.home .references_block_single{
margin: 0 20px 20px 0;
}
.references_block_single img{
display: block;
width: auto;
height: auto;
max-width: 130px;
max-height: 77px;
margin: 0;
}
.references_block_single a:hover{
opacity: 0.6;
transition: opacity 0.5s;
}
#references_block .home_title_style{
margin-bottom: 42px;
}
#references_block_link{
clear: both;
display: block;
float: left;
width: 100%;
margin-top: 40px;
text-align: center;
}
#references_block_link a{
display: inline-block;
padding: 7px 15px;
background: #efefef;
text-decoration: none;
}
#references_block_link span{
padding: 0 27px 0 0;
background: #efefef url(helant_img/arrow_red_grey.jpg) no-repeat right center;
}
/*agence*/
.home #agency_block{
display: block;
float: left;
width: 325px;
padding: 25px 0 25px 25px;
background: #f5f5f5 url(helant_img/agency_bg.jpg) no-repeat 205px 130px;
overflow: hidden;
}

/******************/
/*******PAGE*******/
/******************/
#page_sidebar{
display: block;
float: left;
width: 178px;
padding: 106px 0;
margin: 0;
}
#page_main{
display: block;
float: left;
width: 822px;
padding: 0;
margin: 0;
}
#page_header{
display: block;
width: 642px;
height: 85px;
line-height: 34px;
padding: 21px 0 0 180px;
background-repeat: no-repeat;
background-position: left top;
font-size: 27px;
color: #ffffff;
text-transform: uppercase;
font-weight: 500;
}
.single #page_header{
background: url(helant_img/titre_basic.jpg) no-repeat center center;
}
#page_content{
display: block;
padding: 0 50px 0 45px;
overflow: hidden;
}
.page_content_large{
padding: 0 40px 0 20px!important;
}
#page_content_the_content{
overflow: hidden;
}
#page_decalco_block{
display: block;
position: absolute;
left: 96px;
bottom: 0;
}
#page_decalco_block img{
vertical-align: bottom;
}
/*filet*/
#breadcrumb{
clear: both;
display: block;
margin: 12px 40px 30px 0;
text-align: right;
font-size: 11px;
color: #9b9b9b;
}
#breadcrumb span{
display: inline-block;
}
#breadcrumb a{
color: #9b9b9b;
text-decoration: none;
}
#breadcrumb a:after{
content: " > ";
}
/*style pages*/
#page_content_the_content .with_padding_right{
padding-right: 200px;
overflow: hidden;
}
#page_content_the_content a.red_link{
line-height: 30px;
}
#page_content_the_content a.red_link_double{
line-height: 18px;
}
#page_content_the_content a.red_link,
#page_content_the_content a.red_link_double{
display: block;
float: left;
padding-right: 38px;
background: url(helant_img/arrow_red_round.jpg) no-repeat right center;
text-decoration: none;
}
#page_content_the_content a.red_link_double_phone{
display: block;
float: left;
line-height: 18px;
padding-right: 54px;
background: url(helant_img/phone.jpg) no-repeat right center;
text-decoration: none;
}
#page_content_the_content a.red_link_double_phone strong{
text-decoration: underline;
}

/*page candidature*/
.page-template-page-candidature-php #page_content{
line-height: 20px;
font-size: 14px;
}
.page-template-page-candidature-php #page_content_the_content{
display: block;
float: left;
width: 280px;
padding-top: 50px;
margin-right: 50px;
overflow: hidden;
}
.page-template-page-candidature-php #page_content_the_content_right{
display: block;
float: left;
overflow: hidden;
}


/********************/
/*******WIDGET*******/
/********************/
.widget_title{
display: block;
margin-bottom: 18px;
color: #313262;
}
.textwidget{
clear: both;
display: block;
line-height: 16px;
font-size: 12px;
overflow: hidden;
}
.textwidget p{
margin-bottom: 16px;
}

/*webline*/
.widgetarea_webline_content{
display: block;
float: left;
max-width: 302px;
padding: 40px 0 0 45px;
}
.widgetarea_webline_content .widget_title{
line-height: 34px;
font-size: 31px;
text-transform: uppercase;
}
.widgetarea_webline_content .widget_title span{
color: #e41b23;
}
.widgetarea_webline_content .textwidget{
line-height: 18px;
font-size: 14px;
}
/*home content*/
.widgetarea_home_content{
display: block;
float: left;
width: 284px;
height: 225px;
margin: 0 0 0 35px;
}
.widgetarea_home_content .widget_title{
line-height: 22px;
font-size: 16px;
font-weight: 700;
}
/*agences*/
.widgetarea_agency_content .widget_title{
margin-bottom: 2px;
font-weight: 700;
}
.widgetarea_agency_content .widget_title span:before{
content: "\a";
white-space: pre;
}
.home .widgetarea_agency_content .widget_title span:before{
content: " - ";
white-space: normal;
}
/*agences page contact*/
.page-template-page-contactus-php #agency_block{
display: block;
float: left;
width: 330px;
overflow: hidden;
}
.page-template-page-contactus-php #agency_block .home_title_style{
padding: 15px 0 15px 80px;
background: url(helant_img/agency_bg_page.jpg) no-repeat left center;
}
.page-template-page-contactus-php .widgetarea_agency_content .textwidget{
clear: both;
display: block;
line-height: 16px;
padding: 0 50px 0 20px;
margin-bottom: 28px;
font-size: 14px;
overflow: hidden;
}
.page-template-page-contactus-php .widgetarea_agency_content .widget_title{
display: block;
line-height: 16px;
padding: 0 0 0 20px;
margin-bottom: 0;
font-size: 14px;
color: #313262;
font-weight: 700;
}

/***************************/
/*********FOMULAIRE*********/
/***************************/
.wpcf7-form{
width: 432px;
padding-top: 90px;
margin-bottom: 50px;
font-size: 12px;
}
.page-template-page-candidature-php .wpcf7-form{
padding-top: 50px;
}
.wpcf7-form h2{
clear: both;
margin-bottom: 5px!important;
}
.wpcf7-form p{
display: block;
clear: both;
line-height: 39px;
margin-bottom: 0!important;
}
.wpcf7-form span.destinataire ,
.wpcf7-form span.module{
float: left;
width: 206px;
height: 28px;
background: #ededed url(helant_img/select.jpg) no-repeat right center;
overflow: hidden;
}
.wpcf7-form span.destinataire select,
.wpcf7-form span.module select{
width: 115%;
background: none;
border: none!important;
}
span.wpcf7-form-control-wrap {
float: left;
margin: 0 0 20px;
}
span.wpcf7-form-control-wrap:nth-child(even),
 span.wpcf7-form-control-wrap:nth-child(3){
margin: 0 0 20px 20px;
}
span.poste{
margin: 0!important;
}
span.wpcf7-list-item{
/*clear: both;
display: block;*/
margin: 0 20px 0 0!important
}
.wpcf7-form input.wpcf7-text{
clear: both;
display: block;
width: 174px;
padding: 7px 15px;
background: #ededed;
height:25px;
margin: 0 auto;
border: 1px solid #ededed;
font-size: 12px;
}
.wpcf7-form .adresse input.wpcf7-text{
width: 400px
}
.wpcf7-form textarea.wpcf7-textarea{
clear: both;
display: block;
width: 400px;
height: 110px;
padding: 7px 15px;
background: #ededed;
margin: 0 auto;
border: 1px solid #ededed;
}
.wpcf7-form input.wpcf7-submit{
display: block;
float: right;
line-height: 30px;
padding: 0 42px 0 0;
background: transparent url(helant_img/arrow_red_round.jpg) no-repeat right center;
margin: 0;
border: none!important;
font-size: 14px;
color: #e41b23;
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}
.wpcf7-form input.wpcf7-submit:hover{
color: #000000;
}


