

<!--webline-->
[strong]HELANT,[/strong][br/]votre partenaire[br/][span]INFOR M3[/span]
<p>HELANT est le fruit d'un regroupement de compétences et d'expériences depuis plus de 17 ans. Avec près de 30 professionnels reconnus, HELANT est un acteur majeur
de l'intégration de l'ERP INFOR Movex M3.</p>
<p>La connaissance Métier associée à l'expertise sur l'ERP M3 apporte une vraie valeur ajoutée et une garantie aux clients d'HELANT.</p>


<!--widget accueil-->

INFOR, 3ème éditeur mondial[br/]de solutions ERP
La solution M3 éditée par la société Infor s'adresse à des activités clairement ciblées grâce notamment à des offres pré-configurées sur la base de la solution M3 standard. Fonctionnement riche et moderne, INFOR M3 est un outil  particulièrement adapté pour toutes les sociétés qui évoluent rapidement à l'internationnal comme en France. 

INFOR M3,[br/]une solution modulaire 
L’éditeur Infor propose également une approche modulaire de sa solution M3 en associant une palette d’outils techniques (bus applicatif, API, Web services…) pour répondre à des projets de type Best of Breed. Chaque module d'INFOR M3 est autonome et peut être mise en oeuvre isolément ou dans le cadre de la suite globale.

INFOR M3,[br/]une réponse métier 
L’éditeur Infor propose au-delà du coeur de gestion M3, un ensemble  de solutions fonctionnelles intégrées (solution de E-commerce, produits de gestion avancés gestion de la prévision, planification sous contraintes, gestion des flux logistiques code à barres en radio fréquence…)

INFOR M3,[br/]une interface moderne
Grâce à une interface Graphique optimisée, des modules eCommerce et Mobilité, INFOR M3 permet aux utilisateurs de travailler de façon ergonomique et simple.

INFOR M3,[br/]un choix technique de pointe 
Développée en technologie JAVA, la solution multi plateforme M3 peut s'intégrer dans la majorité des architectures techniques des entreprises actuelles.

INFOR M3,[br/]une offre abordable
La solution M3 offre aux PME PMI une richesse fonctionnelle exceptionnelle tout en restant abordable grâce notamment à sa méthodologie de mise en oeuvre pré-configurée à destination de ses métiers cibles.


<!--agences-->
Agence de NANTES (siège) [span]02 40 92 43 43[/span]
<p>20 Boulevard Emile Romanet<br/>44000 Nantes</p>
Agence de LYON
<p>Le Gemellyon Sud<br/>59 boulevard Marius Vivier-Merle<br/>69003 LYON</p>
Agence de NÎMES
<p>Parc Georges Besse Immeuble Le Méridien<br/>80 allée Charles Babbage<br/>30035 NÎMES Cedex 1</p>


<!--distribution-->
Distribution : La Maitrise<br/>de vos licences Infor M3
<div class="with_padding_right">
<p><strong>Partenaire de l’éditeur depuis 1997, nous avons souhaité franchir le pas de la commercialisation en 2009 et signer un contrat de distribution de la solution M3.</strong> HELANT dispose maintenant d’une équipe commerciale et avant-vente alimentée par divers moyens marketing :</p>
<ul>
<li>L’éditeur alimente les partenaires en lead au regard des critères de cibles définis,</li>
<li>Notre cellule de téléprospection,</li>
<li>Des prescripteurs et sociétés de conseil mandatés par les entreprises en recherche de solutions dans une démarche d’aide au choix.</li>
</ul>
<p>L'historique de notre partenariat avec l'éditeur a permis à nos équipes d'acquérir une expérience dans la plupart des métiers cibles de la solution M3 :</p>
<ul>
<li>Métiers l'habillement et du luxe,</li>
<li>Industries des matériaux de construction,</li>
<li>Activités agro alimentaire,</li>
<li>Métiers du négoces et de la distribution.</li>
</ul>
<p>Grace à ces implantations géographiques à Nantes, Lyon et Nîmes, HELANT a fait le choix de la proximité avec ses clients, sa démarche commerciale est calée sur cette présence régionale. Nous privilégions la continuité de la relation entre nos équipes et le client, nous avons fait le choix d'attacher l'équipe de consultants à un projet dès la phase d'avant vente afin d'établir la relation entre les personnes très en amont et de capitaliser dès le départ sur la connaissance du projet.</p>
<p><strong>En France, HELANT est un des seuls partenaires ayant le double statut Partenaire INFOR Distributeur et Services.</strong></p>
<p>HELANT est GOLD CHANNEL PARTNER INFOR</p>
</div>


<!--integration-->
Intégration : Les Meilleurs des experts<br/>INFOR M3 à votre service

<div class="with_padding_right">
<p>Nos équipes de consultants fonctionnels pour la plupart issus de l’entreprise et consultants techniques sont répartis sur nos trois agences Nantes, Lyon et Nîmes, dans une logique de proximité avec nos clients et leurs projets.</p>
<p>Nous intervenons en implémentation de la solution M3 chez nos clients mais également pour des changements de versions, des déploiements d’un Core Model ainsi que des nouveaux modules en mise en oeuvre de plans de progrès chez des clients de la solution M3.</p>
<h2>Compétences mises à la disposition<br/>de votre projet</h2>
<ul>
<li><strong>Directeurs de projets</strong></li>
<p>Professionnels rompus au management de projets et aux outils méthodologiques associés.</p>
<li><strong>Consultants fonctionnels</strong></li>
<p>Pour l’ensemble des domaines fonctionnelles ainsi que les outils de gestions associés LWM, DMP, SWB … Sur la majorité des versions de Movex / M3</p>
<li><strong>Consultants techniques</strong></li>
<p>De l’installation de la solution dans vos environnements au transfert de compétences et la réalisation de sous projets avec les outils (MEC, API, RPG, JAVA-MAK, MOS (StreamServe), Mashup, EDI...</p>
</ul>
<p>HELANT dispose d'une expertise reconnue sur les solutions :</p>
<ul>
<li><strong>Décisionnelle :</strong> Pour les outils M3 (BPW), mais aussi Cognos, B. Object, Report One...</li>
<li><strong>E-Commerce (e-Sales) :</strong> Le Module Marchand de M3</li>
</ul>
</div>

<!--maintenance-->
Tiers maintenance : Un support<br/>disponible à un coût maitrisé
<div class="with_padding_right">
<p><strong>Depuis plus de 10 ans, la Tierce Maintenance Applicative représente un axe de développement important pour notre société et véhicule parfaitement nos valeurs : le service et la satisfaction de nos clients sur le long terme.</strong></p>
<p>Nous proposons à nos clients un service à la carte allant du simple support fonctionnant au ticket jusqu’au contrat global incluant :</p>
<ul>
<li>Le maintien en conditions opérationnelles de toutes les versions d'INFOR M3,</li>
<li>La maintenance évolutive et corrective,</li>
<li>La conception et réalisation de projets informatiques complémentaires,</li>
<li>L’interface avec les services de maintenance de l’éditeur,</li>
</ul>
<p>... ceci dans un cadre d'engagement fort de garantie de service et de réactivité.</p>
</div>


<!--infor m3-->
<div class="with_padding_right">
<p><img src="http://preprod.helant.fr/wp-content/uploads/2014/11/infor.jpg" alt="infor" width="82" height="82" class="alignleft size-full wp-image-71" />INFOR M3 permet à l'entreprise de rationaliser et d'améliorer la visibilité de ses opérations. La Gestion fine des produits complexes et des équipements apporte une qualité de service indéniable à la clientèle. Le contrôle des flux d'informations, de produits et financiers fourni des indicateurs précis sur la rentabilté de la société.</p>
<h2>Infor M3 propose des solutions complètes Métiers<br/>et en particulier :</h2>
<ul>
<li><strong>Infor Distribution</strong></li>
<p>Gére les spécificités des gros volumes, des faibles marges et des larges gammes de produit.</p>
<li><strong>Infor Equipment</strong></li>
<p>Solution unique permettant de relier vos services, les garanties, les locations et la finance de façon modulable.</p>
<li><strong>Infor Fashion</strong></li>
<p>Outil complet conçu pour l'industrie de la mode.</p>
<li><strong>Infor Food & Beverage</strong></li>
<p>Répond aux contraintes de l'agro alimentaire en termes de suivi de Marges, de traçabilté en particulier.</p>
<li><strong>Infor Manufacturing</strong></li>
Offre des possibilités très importantes de gestion des prévisions et de la planification industrielle ainsi que des stocks.
</ul>
<p><img src="http://preprod.helant.fr/wp-content/uploads/2014/11/e-sales.jpg" alt="e-sales" width="113" height="129" class="alignleft size-full wp-image-74" /><strong>Le module eSales, parfaitement intégré à INFOR M3</strong>, donne la dimension Web indispensable à toute solution ERP actuelle avec un seul produit et un seul interlocuteur expert dans les deux domaines.</p>
<br/>
<br/>
<p>HELANT peut également développer et intégrer d'autres solutions eCommerce du Marché grâce à sa maîtrise des outils type Prestashop, PHP et dotnet entre autres.</p>
<p><a class="red_link_double" href="/?page_id=19"><strong>Retrouvez toutes les informations</strong><br/>de la solution Infor M3 sur le site Infor</a></p>
</div>


<!--ref-->
<div class="with_padding_right">
<p>Gage de la qualité de nos services, de nombreuses entreprises aux activités diverses nous font confiance. Nous accompagnons leur développement sur des sujets tout aussi riches : la Comptabilité, la Paie, Les Ressources Humaines, la Gestion de Production, la Logistique, les Achats, la Gestion commerciale et la Relation Client...</p>
</div>


<!--recrutement-->
<div class="with_padding_right">
<p>Pour accompagner notre croissance continue, nous sommes régulièrement à la recherche des talents de l'ERP.</p>
<p><strong>HELANT recrute des directeurs de projet, chefs de projet, consultants techniques et fonctionnels. </strong></p>
<p>Rejoignez notre projet d'entreprise dynamique, ambitieux et à taille humaine.</p>
<p><a class="red_link" href="/?page_id=24">Faites nous parvenir <strong>votre candidature spontanée</strong></a></p>
</div>
