/*
Theme Name: helant.fr - Mobile
Description: webdesign pour wordpress
Author: Intégration Erwan DUVAL (www.erwanduval.fr)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
font-size:100%;
font:inherit;
padding:0;
border:0;
margin:0;
vertical-align:baseline;
}
body{
line-height:1;
}
ol,ul{
list-style:none;
}
blockquote,q{
quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after{
content:'';
content:none;
}
table{
border-collapse:collapse;
border-spacing:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
display:block
}
.clear{
clear:both
}
/*images*/
img{
border: none;
max-width: 100%;
height: auto;
}
.sticky{}
.bypostauthor{}
.wp-caption{}
.wp-caption-text{}
.gallery-caption{}
.alignright,
img.alignright{
display: inline;
float: right;
margin: 0 0 15px 18px;
}
.alignleft,
img.alignleft{
display: inline;
float: left;
margin: 0 18px 15px 0;
}
.aligncenter,
img.aligncenter{
clear: both;
display: block;
margin: 0 auto 15px;
}
a img{
border: none;
}
/*liens*/
a{
color: #e41b23;
}
a:visited {
color: #e41b23;
}
a:active,
a:hover {
color: #000000;
}

/*******************/
/******POLICES******/
/*******************/
body{
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 12px;
color: #797979;
}
h1, h2, h3, h4, h5, h6{
display: block;
}
strong{
font-weight: bold;
}
em{
font-style: italic;
}
#page_content{
line-height: 22px;
font-size: 16px;
color: #5e5e5e;
}
#page_content h2{
line-height: 22px;
margin-bottom: 20px;
font-size: 20px;
color: #313366;
font-weight: 700;
margin-bottom: ;
}
#page_content p{
margin-bottom: 18px;
}
#page_content ul{
list-style-type: disc;
margin: 0 0 18px 15px;
}


/*********************/
/******STRUCTURE******/
/*********************/
#main{
display: block;
width: 100%;
max-width: 480px;
margin: 0 auto;
overflow: hidden;
}
#header{
display: block;
margin: 0;
overflow: hidden;
}
#logo{
display: block;
float: left;
width: 99px;
height: 21px;
margin: 15px 0 13px 10px!important;
}
#navtop{
clear: both;
display: none;
width: 100%;
}
#content{
display: block;
overflow: hidden;
position: relative;
}
#footer{
clear: both;
display: block;
margin: 0 10px;
overflow: hidden;
}
#footer_left{
display: block;
line-height: 18px;
padding: 0 0 40px;
font-size: 12px;
color: #4e4e4e;
text-align: center;
overflow: hidden;
}
#footer_left #copyright{
display: block;
}
#footer_right{
    display: block;
    padding: 68px 0 0 0;
    margin: 27px 0 20px;
    overflow: hidden;
    text-align: center;
    background: url(helant_img/logo-helios.jpg) no-repeat top center;
    background-size: 145px;
    position: relative;
}

#helios {
    position: absolute;
    width: 165px;
    height: 55px;
    top: 0;
}

/******************/
/******LAYOUT******/
/******************/
body{
background: #ffffff;
}
#main{
background: #ffffff;
}
#header{
background: #efefef;
border-bottom: 1px solid #ffffff;
}
#navtop_bt{
display: block;
float: right;
width: 29px;
height: 27px;
background: url(helant_img/menu.jpg) no-repeat center center;
margin: 9px 10px 13px 0;
}
#navtop{
background: #313366;
border-top: 1px solid #ffffff;
}

/*footer right*/
#footer_right a{
display: inline-block;
margin: 0 5px;
}
#footer_right a:last-child{
margin-right: 0;
}
#footer_right a#footer_right_agency_link{
height: 23px;
line-height: 23px;
padding: 5px 11px;
background: #efefef;
color: #e41b23;
text-decoration: none;
}
#footer_right a#footer_right_agency_link span{
display: block;
padding: 0 0 0 35px;
background: url(helant_img/agency_bg_s.jpg) no-repeat left center;
}
#footer_right a.footer_right_social_link{
width: 33px;
height: 33px;
background: #efefef;
text-indent: -99999px;
}
#footer_right a#footer_right_fb_link{
background: url(helant_img/facebook.jpg) no-repeat center center;
}
#footer_right a#footer_right_linkedin_link{
background: url(helant_img/linkedin.jpg) no-repeat center center;
}
#footer_right a#footer_right_viadeo_link{
background: url(helant_img/viadeo.jpg) no-repeat center center;
}

/*****************/
/*******NAV*******/
/*****************/
/*top*/
#navtop ul{
list-style-type: none;
padding: 20px 0;
margin: 0;
}
#navtop ul li{
display: block;
margin: 0;
font-size: 14px;
}
#navtop ul li a{
display: block;
padding: 6px 20px;
font-size: 14px;
color: #ffffff;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;
}
#navtop ul ul{
display: block;
width: 100%;
padding: 0;
}
#navtop ul ul li{
display: block;
}
#navtop ul ul li a{
padding: 4px 10px 4px 40px;
font-size: 14px;
text-transform: none;
font-weight: 500;
}
#navtop ul li.current-page-ancestor > a,
#navtop ul li.current_page_item > a,
#navtop ul li.current-menu-ancestor > a,
#navtop ul li.current-menu-item > a,
#navtop ul li.current-menu-parent > a{
color: #e41b23;
}
/*bottom*/
#navbottom{
clear: both;
display: block;
}
#navbottom ul{
list-style-type: none;
padding: 0;
margin: 0;
}
#navbottom ul li{
display: block;
margin: 0;
text-align: center;
}
#navbottom ul li a{
display: block;
color: #4e4e4e;
text-decoration: underline;
}
#navbottom ul li a:hover{
text-decoration: none;
}
/*metiers*/
#navpage{
clear: both;
display: block;
overflow: hidden;
}
#navpage ul{
list-style-type: none;
padding: 0;
margin: 0;
}
#navpage ul li{
display: block;
margin: 0;
}
#navpage ul li a{
display: block;
height: 20px;
line-height: 20px;
padding: 20px 0 19px;
font-size: 20px;
color: #ffffff;
text-align: center;
text-decoration: none;
text-transform: uppercase;
border-bottom: 1px solid #ffffff;
}
#navpage ul li.distribution a{
background: #8cb921;
}
#navpage ul li.integration a{
background: #ed7517;
}
#navpage ul li.maintenance a{
background: #459dcd;
}
#navpage ul li.current_page_item a,
#navpage ul li.current-menu-item a{
display: none;
}

/******************/
/*******HOME*******/
/******************/
/*webline*/
#webline_strap{
clear: both;
display: block;
background: #ffffff;
position: relative;
}
#webline_strap img{
display: block;
max-width: 100%;
height: auto;
margin: 0;
}
/*metiers*/
#home_metiers_strap{
clear: both;
display: block;
width: 100%;
overflow: hidden;
}
#home_metiers_strap a{
display: block;
height: 20px;
line-height: 20px;
padding: 20px 0 19px;
font-size: 20px;
color: #ffffff;
text-align: center;
text-decoration: none;
text-transform: uppercase;
border-bottom: 1px solid #ffffff;
}
a#home_metiers_strap_green{
background: #8cb921;
}
a#home_metiers_strap_orange{
background: #ed7517;
}
a#home_metiers_strap_blue{
background: #459dcd;
}
/*content home*/
#widgetarea_home_strap{
clear: both;
display: block;
background: url(helant_img/decalco_1.jpg) no-repeat 553px top;
margin: 0 10px;
overflow: hidden;
border-bottom: 1px solid #a6a7bd;
}

#widgetarea_home_strap_title{
display: block;
line-height: 28px;
margin: 25px 0 35px;
font-size: 24px;
color: #313262;
text-transform: uppercase;
}
#widgetarea_home_strap_title span{
color: #e41b23;
}
/*call*/
#home_call_strap{
clear: both;
display: block;
line-height: 24px;
padding: 22px 0;
margin: 0 10px;
font-size: 18px;
color: #313262;
text-transform: uppercase;
font-weight: 500;
text-align: center;
border-bottom: 1px solid #a6a7bd;
}
#home_call_strap span{
color: #e41b23;
}
.page #home_call_strap{
border-top: 1px solid #a6a7bd;
border-bottom: none;
}
/*titres ref + agence*/
.home_title_style{
display: block;
margin-bottom: 22px;
color: #313262;
text-transform: uppercase;
}
.home_title_style span{
color: #e41b23;
}
.home .home_title_style{
line-height: 25px;
font-size: 21px;
}
/*reference*/
.home #references_block{
display: block;
padding: 25px 0 35px;
margin: 0 10px;
overflow: hidden;
}
.references_block_single{
display: block;
float: left;
width: auto;
height: 42px;
margin: 0 18px 20px 0;
}
.references_block_single:last-child{
margin: 0 0 20px 0;
}
.references_block_single a{
display: block;
opacity: 1;
transition: opacity 0.5s;
}
.home .references_block_single{
margin: 0 18px 20px 0;
}
.home .references_block_single:last-child{
margin: 0 0 20px 0;
}
.references_block_single img{
display: block;
width: auto;
max-height: 42px;
margin: 0;
}
.references_block_single a:hover{
opacity: 0.6;
transition: opacity 0.5s;
}
#references_block .home_title_style{
margin-bottom: 42px;
}
#references_block_link{
clear: both;
display: block;
float: left;
width: 100%;
margin-top: 20px;
text-align: center;
}
#references_block_link a{
display: inline-block;
padding: 7px 15px;
background: #efefef;
text-decoration: none;
}
#references_block_link span{
padding: 0 27px 0 0;
background: #efefef url(helant_img/arrow_red_grey.jpg) no-repeat right center;
}
/*agence*/
.home #agency_block{
display: block;
padding: 22px 10px 20px;
background: #f5f5f5 url(helant_img/agency_bg.jpg) no-repeat 185px 130px;
overflow: hidden;
}

/******************/
/*******PAGE*******/
/******************/
#page_main{
display: block;
padding: 0;
margin: 0;
}
#page_header{
display: block;
line-height: 24px;
padding: 11px 0 70px 10px;
background: #313366 url(helant_img/titre_basic.jpg) no-repeat left bottom;
font-size: 20px;
color: #ffffff;
text-transform: uppercase;
font-weight: 500;
}
.page-id-27 #page_header{
background: #8cb921 url(helant_img/title_distribution.jpg) no-repeat left bottom;
}
.page-id-32 #page_header{
background: #ed7517 url(helant_img/title_integration.jpg) no-repeat left bottom;
}
.page-id-36 #page_header{
background: #459dcd url(helant_img/title_maintenance.jpg) no-repeat left bottom;
}
.page-id-11 #page_header{
background: #d4000e url(helant_img/title_inform3.jpg) no-repeat left bottom;
}
.page-id-27 #page_header,
.page-id-32 #page_header,
.page-id-36 #page_header,
.page-id-11 #page_header{
padding-bottom: 110px;
}
#page_content{
display: block;
padding: 25px 10px 30px;
overflow: hidden;
}
#page_content_the_content{
clear: both;
display: block;
overflow: hidden;
}
/*style pages*/
#page_content_the_content .with_padding_right{
/*padding-right: 200px;*/
overflow: hidden;
}
#page_content_the_content a.red_link{
line-height: 30px;
}
#page_content_the_content a.red_link_double{
line-height: 18px;
}
#page_content_the_content a.red_link,
#page_content_the_content a.red_link_double{
display: block;
float: left;
text-decoration: none;
}
#page_content_the_content a.red_link_double_phone{
display: block;
float: left;
line-height: 18px;
text-decoration: none;
}
#page_content_the_content a.red_link_double_phone strong{
text-decoration: underline;
}

/********************/
/*******WIDGET*******/
/********************/
.widget_title{
display: block;
margin-bottom: 18px;
color: #313262;
}
.textwidget{
clear: both;
display: block;
line-height: 16px;
font-size: 12px;
overflow: hidden;
}
.textwidget p{
margin-bottom: 16px;
}

/*webline*/
.widgetarea_webline_content{
display: block;
padding: 25px 10px 35px;
}
.widgetarea_webline_content .widget_title{
line-height: 34px;
font-size: 31px;
text-transform: uppercase;
}
.widgetarea_webline_content .widget_title span{
color: #e41b23;
}
.widgetarea_webline_content .textwidget{
line-height: 18px;
font-size: 14px;
}
/*home content*/
.widgetarea_home_content{
display: block;
margin: 0 0 15px;
overflow: hidden;
}
.widgetarea_home_content .widget_title{
line-height: 22px;
font-size: 16px;
font-weight: 700;
}
/*agences*/
.widgetarea_agency_content .widget_title{
margin-bottom: 2px;
font-weight: 700;
}
.widgetarea_agency_content .widget_title span:before{
content: "\a";
white-space: pre;
}
.home .widgetarea_agency_content .widget_title span:before{
content: " - ";
white-space: normal;
}
/*agences page contact*/
.page-template-page-contactus-php #agency_block{
display: block;
float: left;
width: 330px;
overflow: hidden;
}
.page-template-page-contactus-php #agency_block .home_title_style{
padding: 15px 0 15px 80px;
background: url(helant_img/agency_bg_page.jpg) no-repeat left center;
}
.page-template-page-contactus-php .widgetarea_agency_content .textwidget{
clear: both;
display: block;
line-height: 16px;
padding: 0 50px 0 20px;
margin-bottom: 28px;
font-size: 14px;
overflow: hidden;
}
.page-template-page-contactus-php .widgetarea_agency_content .widget_title{
display: block;
line-height: 16px;
padding: 0 0 0 20px;
margin-bottom: 0;
font-size: 14px;
color: #313262;
font-weight: 700;
}

/***************************/
/*********FOMULAIRE*********/
/***************************/
.wpcf7-form{
width: 320px;
margin: 0 auto 20px;
font-size: 12px;
}
.page-template-page-candidature-php .wpcf7-form{
padding-top: 50px;
}
.wpcf7-form h2{
clear: both;
margin-bottom: 5px!important;
}
.wpcf7-form p{
display: block;
clear: both;
line-height: 39px;
margin-bottom: 0!important;
}
.wpcf7-form span.destinataire ,
.wpcf7-form span.module{
float: left;
width: 206px;
height: 28px;
background: #ededed url(helant_img/select.jpg) no-repeat right center;
overflow: hidden;
}
.wpcf7-form span.destinataire select,
.wpcf7-form span.module select{
width: 115%;
background: none;
border: none!important;
}
span.wpcf7-form-control-wrap {
float: left;
margin: 0 0 10px;
}
span.wpcf7-form-control-wrap:nth-child(even),
 span.wpcf7-form-control-wrap:nth-child(3){
margin: 0 0 10px 10px;
}
span.poste{
margin: 0!important;
}
span.wpcf7-list-item{
/*clear: both;
display: block;*/
margin: 0 10px 0 0!important
}
.wpcf7-form input.wpcf7-text{
clear: both;
display: block;
width: 133px;
padding: 7px 10px;
background: #ededed;
height:25px;
margin: 0 auto;
border: 1px solid #ededed;
font-size: 12px;
}
.wpcf7-form .adresse input.wpcf7-text{
width: 298px
}
.wpcf7-form textarea.wpcf7-textarea{
clear: both;
display: block;
width: 298px;
height: 80px;
padding: 7px 10px;
background: #ededed;
margin: 0 auto;
border: 1px solid #ededed;
}
.wpcf7-form input.wpcf7-submit{
display: block;
float: right;
line-height: 30px;
padding: 0 42px 0 0;
background: transparent url(helant_img/arrow_red_round.jpg) no-repeat right center;
margin: 0;
border: none!important;
font-size: 14px;
color: #e41b23;
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}
.wpcf7-form input.wpcf7-submit:hover{
color: #000000;
}

/********************/
/****SPE CONTENT*****/
/********************/
.post-9 #page_content_the_content{
text-align: center;
}
.post-9 #page_content_the_content img{
float: none!important;
max-width: 100%!important;
height: auto!important;
margin: 0 auto 18px!important;
}


